@font-face {
    font-family: StressFont;
    src: url(/fonts/BarlowCondensed-Light.ttf);
}

body {
    font-family: StressFont, sans-serif;
    margin: 0;
    background-color: white;
}

/* Header/Logo Title */
.header {
    padding: 30px 30px 5px 10px;
    text-align: center;
    background: white;
    color: white;
    font-size: 10px;
    display: flex;
}
/* Page Content */
.content {
    padding:20px;
}
p{
    font-family: StressFont, sans-serif;
}
h{
    font-family: StressFont, sans-serif;
}
.button1 {
    background-color: lightblue;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
button:hover {
    opacity: 0.7;
}
input:hover {
    opacity: 0.7;
}
.loginContainer {
    padding: 25px;
    background-color: lightgrey;
    margin: auto;
    width: 25%;
    border: 1px solid black;
    border-radius: 10px;
}
#loginId{
    padding: 25px;
    background-color: lightgrey;
    margin: auto;
    width: 25%;
    border: 1px solid black;
    border-radius: 10px;
}
.headerFrame1{
    flex: 0 0 96%;
    padding: 15px 0px 0px 10px;
}
.headerFrame2{
    flex: 1;
}
#box1{
    width: 100%;
    margin: -8px;
    text-align: center;
    z-index: 5;

}
#box2{
    width: 100%;
    text-align: center;
    z-index: 1;
}
.container{
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 300px;
}
#loginImage{
    bottom:69%;
    position: absolute;
    margin:0 auto;
    left:0;
    right:0;
}
.containerresult{
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
                                /* center items vertically, in this case */
    align-items: initial;        /* center items horizontally, in this case */
    height: 300px;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}