body {
    font-family: Arial;
    margin: 0;
    background-color: lightgray;
}

/* Header/Logo Title */
.header {
    padding: 30px 30px 5px 10px;
    text-align: center;
    background: lightslategray;
    color: white;
    font-size: 10px;
    display: flex;
    border: 1px solid black;
}
/* Page Content */
.content {
    padding:20px;
}
p{
    font-family: "Times New Roman";
}
h{
    font-family: "Times New Roman";
}
button {
    background-color: lightblue;
    width: 100%;
    color: white;
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
button:hover {
    opacity: 0.7;
}
.loginContainer {
    padding: 25px;
    background-color: lightsteelblue;
    margin: auto;
    width: 25%;
    border: 1px solid black;
    border-radius: 10px;
}
#loginId{
    padding: 25px;
    background-color: lightslategray;
    margin: auto;
    width: 25%;
    border: 1px solid black;
    border-radius: 10px;
}
.headerFrame1{
    flex: 0 0 96%;
    padding: 15px 0px 0px 10px;
}
.headerFrame2{
    flex: 1;
}
#box1{
    width: 100%;
    margin: -8px;
    text-align: center;
    z-index: 5;

}
#box2{
    width: 100%;
    text-align: center;
    z-index: -1;
}
.container{
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 300px;
}
#loginImage{
    bottom:69%;
    position: absolute;
    margin:0 auto;
    left:0;
    right:0;
}