<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/table.css">
    <meta charset="UTF-8">
    <title>Bruger side</title>
</head>
    <div class="header">
        <h1>Header</h1>
        <p>BAROMETER</p>
    </div>
    <div class="centerTable" style="text-align: center">
        <table class="center">
            <thead>
            <tr>
                <th><span style="font-size: 3rem">Hej!</span></th>
            </tr>
            </thead>
            <tbody>
            <!--<tr th:each="bruger: ${brugere}">
                <td th:text="${bruger.firstName}" style="font-size: large"/>
            </tr>-->
            <tr>
                <td th:text="${bruger.firstName}" style="font-size: 3rem"/>
            </tr>
            </tbody>
            </table>
    </div>
    <div class="wrapper">
        <table style="border: 1px solid lightslategray">
            <thead style="background-color: lightslategray; border: 1px solid lightslategray">
            <tr>
                <th>Test Dato</th>
                <th>Stress Points</th>
                <th>Stress Level</th>
            </tr>
            </thead>
            <tbody style="border: 1px solid lightslategray">
            <tr style="border: 1px solid lightslategray" th:each="result: ${results}">
                <td style="border: 1px solid lightslategray" th:text="${result.result_test_date}"></td>
                <td style="border: 1px solid lightslategray" th:text="${result.result_score}"></td>
                <td style="border: 1px solid lightslategray" th:text="${result.result_stress_level}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <tbody>
            <tr>
                <td><a th:href="@{'/takeTest/' + ${bruger.bruger_id}}"><button style="border: 1px solid lightslategray">Test</button></a></td>
            </tr>
<!--            <tr>
                <td><a th:href="@{'/submitTest/' + ${bruger.bruger_id}}"><button>Result</button></a></td>
            </tr>-->
            </tbody>
        </table>
    </div>
</body>
</html>