<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/table.css">
    <meta charset="UTF-8">
    <title>Bruger side</title>
</head>
<div class="header" style="border: #636d76 solid 2px">
    <a th:href="@{'/'}" methods="get" ><button style="background-color: white; border: none"><img style="text-align: left" src="/stressbarometer-logoTM-med-luft.jpg" height="92" width="331"/></button></a>
</div>
    <div class="centerTable" style="text-align: center">
        <table class="center">
            <thead>
            <tr>
                <th style="background-color: white; color: black; border: none"><span style="font-size: 3rem">Hej</span></th>
                <th style="background-color: white; color: black; border: none; font-size: 3rem"><span th:text="${bruger.firstName}" style="font-size: 3rem"/>!</th>
            </tr>
            </thead>
    </div>
    <div class="wrapper">
        <table class="center">
            <thead style="background-color: #636d76; border: 1px solid #636d76">
            <td colspan="4" style="border: none; background-color: white"><a th:href="@{'/takeTest/' + ${bruger.bruger_id}}"><button class="button1"  style="border: 1px solid lightslategray">Test</button></a></td>
            <tr>
                <th>Test Dato</th>
                <th>Stress Level</th>
                <th>Valgmuligheder for tests</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result: ${results}">
                <td style="padding: 10px" th:text="${result.result_test_date}"></td>
                <td th:text="${result.result_stress_level}"></td>
                <td style="padding-left: 6px; padding-right: 6px"><button class="button1" style="width: auto; margin: 3px">Download</button> <button class="button1" style="float: left; width: auto; margin: 3px">Se Test</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>