<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/table.css">
    <meta charset="UTF-8">
    <title>Bruger side</title>
</head>
<div class="header" style="border: #636d76 solid 2px">
    <a th:href="@{'/'}" methods="get" ><button style="background-color: white; border: none"><img style="text-align: left" src="/stressbarometer-logoTM-med-luft.jpg" height="92" width="331"/></button></a>
</div>
    <div class="centerTable" style="text-align: center">
        <table class="center">
            <thead>
            <tr>
                <th style="background-color: white; color: black; border: none"><span style="font-size: 3rem">Hej!</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th style="background-color: white; color: black; border: none"><span th:text="${bruger.firstName}" style="font-size: 3rem"/></th>
            </tr>
            </tbody>
            </table>
    </div>
    <div class="wrapper">
        <div style="width: 24.5%" class="center">
        <td style="border: none"><a th:href="@{'/takeTest/' + ${bruger.bruger_id}}"><button class="button1"  style="border: 1px solid lightslategray">Test</button></a></td>
        </div>
        <table class="center">
            <thead style="background-color: #636d76; border: 1px solid #636d76">
            <tr>
                <th style="color: white">Test Dato</th>
                <th style="color: white">Stress Level</th>
                <th style="color: white">Valgmuligheder for tests</th>
            </tr>
            </thead>
            <tbody style="border: 1px solid lightslategray">
            <tr style="border: 1px solid lightslategray" th:each="result: ${results}">
                <td style="border: 1px solid lightslategray" th:text="${result.result_test_date}"></td>
                <td style="border: 1px solid lightslategray" th:text="${result.result_stress_level}"></td>
                <td style="border: 1px solid lightslategray"><button class="button1" style="width: 49%">Download</button> <button class="button1" style="float: left; width: 47%">Se Test</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>