<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="login.css">
    <title>Stressbarometer®</title>
</head>
<body>
    <!-- Dette indhold skal indeholde header for siden -->
    <div class="header">
        <h1>Header</h1>
        <p>BAROMETER</p>
    </div>
    <h1 style="text-align: center">Stressbarometer®</h1>
    <form>
        <div class="loginContainer">
            <!-- Dette div skal indeholde login -->
            <input type="text" placeholder="Enter email" required>
            <input type="password" placeholder="Enter password" required>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>