<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/login.css">
    <title>Stressbarometer®</title>
    <script>
        function myFunction() {
            // Sætter et delay på 2 sekunder
            var delay = 2000;
            setTimeout(function() {
                // Error message der vil poppe op
                document.getElementById("errorid").innerHTML = "Invalid email or password"
            }, delay);
        }
    </script>
</head>
<body>
    <!-- Dette indhold skal indeholde header for siden -->
    <div class="header">
        <div class="headerFrame1">
        <h1 style="text-align: left;font-size:30px";>Stressbarometer®</h1>
        </div>
        <div class="headerFrame2">
        <button style="border-radius: 50px; text-align: right; width:3.6rem; background-color:lightgray">
            <img style="width:30px;height:30px" src="/person-male.png"/></button>
        </div>
    </div>
    <br><br><br><br><br><br>
    <div class="container">
    <div id="box1">
        <div id="loginId">
            <button id="loginImage" style="border-radius: 50px; text-align: right; width:3.6rem; background-color:lightblue"><img style="width:30px;height:30px" src="/person-male.png"/></button></div>
    </div>
        <div id="box2">
    <form name="loginCheck" action="/frontPage" method="post">
        <div class="loginContainer">
            <br>
            <!-- Dette div indeholder login -->
            <input type="text" placeholder="Enter email" name="email" required>
            <input type="password" placeholder="Enter password" name="password" required>

            <!-- Type dropdown -->
            <label for="login">Choose type: </label>
            <select name="type" id="login">
                <option value="typeb" type="font-family: Times New Roman">User</option>
                <option value="typek" type="font-family: Times New Roman">Customer</option>
                <option value="typea" type="font-family: Times New Roman">Adin</option>
            </select>

            <p id="errorid"></p>
            <button onclick="myFunction()" type="submit">Login</button>
        </div>
    </form>
        </div>
    </div>
</body>
</html>