<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/login.css">
    <title>Stressbarometer®</title>
    <script>
        function myFunction() {
            // Sætter et delay på 2 sekunder
            var delay = 2000;
            setTimeout(function() {
                // Error message der vil poppe op
                document.getElementById("errorid").innerHTML = "Invalid email or password"
            }, delay);
        }
    </script>
</head>
<body>
<!-- Dette indhold skal indeholde header for siden -->
    <div class="header" style="border: #636d76 solid 2px">
        <img style="text-align: left" src="/stressbarometer-logoTM-med-luft.jpg" height="92" width="331"/>
    </div>
<br><br><br><br><br><br>
    <div class="container">
    <div id="box1">
        <div id="loginId">
            <button class="button1" id="loginImage" style="border-radius: 50px; text-align: right; width:3.6rem; background-color:lightblue"><img style="width:30px;height:30px" src="/person-male.png"/></button></div>
    </div>
        <div id="box2">
    <form name="loginCheck" action="/frontPage" method="post">
        <div class="loginContainer">
            <br>
            <!-- Dette div indeholder login -->
            <input type="text" placeholder="Enter email" name="email" required>
            <input type="password" placeholder="Enter password" name="password" required>
            <p id="errorid"></p>
            <button class="button1" onclick="myFunction()" type="submit">Login</button>
        </div>
    </form>
        </div>
    </div>

</body>
</html>