<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <form action="/finishTest" method="post">
            <tr>
                <td><label>Registration number</label></td>
                <td><input type="text" name="motorhome_reg_number" placeholder="Reg Number"><br></td>
            </tr>
            <tr>
                <td><label>Enter type</label></td>
                <td><input type="text" name="type_id" placeholder="Type"><br></td>
            </tr>
            <tr>
                <td><label>Enter brand</label></td>
                <td><input type="text" name="motorhome_brand" placeholder="Brand"><br></td>
            </tr>
            <tr>
                <td><label>Enter model</label></td>
                <td><input type="text" name="motorhome_model" placeholder="Model"><br></td>
            </tr>
            <tr>
                <td><label>Enter room height</label></td>
                <td><input type="text" name="motorhome_room_height" placeholder="Room height"><br></td>
            </tr>
            <tr>
                <td><label>Enter odometer value</label></td>
                <td><input type="text" name="motorhome_odometer" placeholder="Odometer"><br></td>
            </tr>
            <tr style="border: none">
                <td style="border: none"><input class="button" type="submit" value="Create"></td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>